/*** Variables ********************/
/**********************************/

:root {
    --black_: rgba(0, 0, 0, 1);
    --white_: rgba(255, 255, 255, 1);

    --dark_: rgba(44, 62, 80, 1);
    --grey_: rgba(58, 84, 109, 1);
    --green_: rgba(26, 188, 156, 1);

    --headers-h_: 60px;
    --icon-h_: 40px;
}

/*** RESET ********************/
/******************************/

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

menu {
    list-style-type: none;
}

a {
    display: inline-block;
    color:inherit;
    text-decoration: none;
    cursor: pointer;
}

/*** LAYOUT ********************/
/*******************************/

.ms-container-md {
    max-width: 960px;
    padding: 0 10px;
}

.ms-container-sm {
    max-width: 720px;
    padding: 0 10px;
}

/*** UTILITIES ********************/
/**********************************/

/* Typography ********************/

/*** Colors ********************/

.txt-dark {
    color: var(--dark_);
}

.txt-green {
    color: var(--green_);
}

/*** Background Colors ********************/

.bg-dark_ {
    background-color: var(--dark_);
}

.bg-green_ {
    background-color: var(--green_);
}

.bg-grey_ {
    background-color: var(--grey_);
}

/*** HEADER ********************/
/*******************************/

/*** MAIN ********************/
/*****************************/

/*** Hero - Main ********************/

#hero img {
    width: 30%;
}

/*** Portfolio - Main ********************/

#portfolio img {
    border-radius: 20px;
    object-fit:fill;
}

/*** About - Main ********************/

#about button {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}


/*** DEBUG ********************/
/******************************/

.b-red {
    border: 1px solid red;
}

.b-blue {
    border: 1px solid blue;
}