/*** Variables ********************/
/******************************/

:root {
    --black_: rgba(0, 0, 0, 1);
    --white_: rgba(255, 255, 255, 1);

    --dark_: rgba(44, 62, 80, 1);
    --grey_: rgba(58, 84, 109, 1);
    --green_: rgba(26, 188, 156, 1);

    --headers-h_: 60px;
    --icon-h_: 40px;
}